/* Custom Styling for AttendSmart */

body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

header {
    background: linear-gradient(135deg, #007bff, #6610f2);
    color: white;
}

header h1 {
    font-size: 2.8rem;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 20px;
}

.list-group-item {
    font-size: 1.1rem;
}

footer {
    background: #0056b3;
    color: #fff;
}

.container {
    padding-left: 0 !important; /* Remove left padding */
    padding-right: 0 !important; /* Remove right padding */
}



